html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans', Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  background-color: #edb;
  background-image: url(/img/retina_wood.jpg);
}

a {
  color: #33f;
  text-decoration: none;
}

a:visited {
  color: #33f;
  text-decoration: none;
}

a:hover {
  color: #33f;
  text-decoration: underline;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topbar .header {
  padding: 10px;
  position: relative;
  background-color: #eee;
  background: linear-gradient(#eee, #ddd);
  min-width: 360px;
  box-shadow: 0 1px 1px #986;
}

.topbar .header #logo {
  padding: 0;
  margin-left: 2px;
  margin-top: -2px;
  color: #ccc;
  text-shadow: 0 1px 1px #fff;
  float: left;
  font-size: 24px;
}

.topbar .header .search {
  margin: 0 auto;
  width: 30%;
}

.topbar .header .search #query {
  width: 100%;
  padding-left: 10px;
  line-height: 24px;
  border-radius: 16px;
  border: 1px solid #ccc;
}

.topbar .header .menu {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.page {
  position: relative;
  min-height: 100%;
  margin-bottom: -63px;
}

.page .content {
  padding-top: 63px;
  color: #555;
}

.footer {
  position: relative;
  color: #986;
  padding: 12px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.card {
  margin-left: 12px;
  margin-bottom: 12px;
  float: left;
  width: 360px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 1px 1px #986;
}

.card .info {
  padding: 10px;
}

.info .company {
  font-size: 18px;
  padding-bottom: 5px;
}

.divbar {
  color: #ccc;
}

.hidden {
  display: none;
}
