body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  background-color: #ddd;
}

a {
  color: #33f;
  text-decoration: none;
}

a:visited {
  color: #33f;
  text-decoration: none;
}

a:hover {
  color: #33f;
  text-decoration: underline;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.topbar .header {
  padding: 10px;
  position: relative;
  background-color: #eee;
  min-width: 360px;
  box-shadow: 0 0 5px #333;
}

.topbar .header #logo {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  color: #999;
  text-shadow: 0 1px 1px #fff;
  float: left;
}

.topbar .header .search {
  margin: 0 auto;
  width: 30%;
  white-space: nowrap;
}

.topbar .header .search #box {
  width: 60%;
  padding-left: 10px;
  line-height: 24px;
  border-radius: 16px;
  border: 1px solid #ccc;
}

.topbar .header .search #go {
  color: #888;
  background-color: #ccc;
  height: 28px;
  border: 1px solid #bbb;
  border-radius: 14px;
}

.topbar .header .menu {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.page {
  position: relative;
  background-color: #fff;
  color: #555;
  box-shadow: 0 0 5px #333;
}

.page .content {
  padding: 10px;
  padding-top: 60px;
  min-height: 600px;
  background-color: #ccc;
}

.card {
  width: 350px;
  height: 200px;
  background-color: white;
}

.card .info {
  padding: 10px;
}

.info .company {
  font-size: 20px;
  padding-bottom: 5px;
}

.footer {
  color: #888;
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.divbar {
  color: #ccc;
}

.hidden {
  display: none;
}
