<div class="cards" data-module="cards">

  <div class="card">
    <div class="info">
      <div class="company">Legendum Ltd</div>
      <div>Kevin Hutchinson</div>
      <div>Managing Director</div>
      <div>27 Old Gloucester Street</div>
      <div>London WC1N 3XX</div>
      <div>United Kingdom</div>
    </div>
  </div>

  <div class="card">
    <div class="info">
      <div class="company">vCards.org</div>
      <div>Kevin Hutchinson</div>
      <div>Founder</div>
      <div>27 Old Gloucester Street</div>
      <div>London WC1N 3XX</div>
      <div>United Kingdom</div>
    </div>
  </div>

</div>
